<header class="py-5">

    <div class="menu-content">
        <nav class="flex items-center justify-between">
            <div class="w-48">
                <include  src="./views/logo.html"></include>
            </div>

            <div class="md:hidden">
                <img src="./assets/images/hamburger_icon.svg" alt="">
            </div>

            <div class="hidden md:flex">
                <a class="links" href="./index.html">Equip</a>
                <a class="links" href="./bio.html">About</a>
                <a class="links" href="#">Contacta</a>
            </div>
        </nav>
    </div>

</header>